    body {
        background-color: #4A08FF;
    }

    .container {
        width800px;
        border: 1px solid black;
        padding: 20px;
        margin: 0 auto 0 auto;
    }

    .red-box {
        width: 200px;
        height: 200px;
        background-color: red;
        padding: 10px 10px 10px 10px;
        float: left;
    }

    .blue-box {
        width: 200px;
        height: 200px;
        background-color: red;
        padding: 10px 10px 10px 10px;
        float: right;
    }

    footer {
        border-top: 1px solid #00000;
        clear: both;
    }
